* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	max-width: 100%;
	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-family: 'Chelsea Market', cursive;
}
strong {
	font-weight: bolder;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.nav-links {
	margin-top: 5%;
}

.nav-links a {
	color: white;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 7%;
}

.nav-links a:first-child {
	background-color: #ff764e;
}

.nav-links a:nth-child(2) {
	background-color: #5ed3eb;
}

.nav-links a:last-child {
	background-color: #ffcd69;
}

.front-content {
	margin-top: 5%;
}

.front-content div {
	display: inline-block;
}

.front-content div h1 {
	font-size: 3rem;
}

header img {
	width: 15rem;
	border-radius: 50%;
}

#About {
	margin: 5%;
	padding: 1rem;
	background-color: #ddb9a3;
}

.more-info {
	width: 20%;
	margin: 0 auto;
}

footer {
	background: #f9e7dc;
}

footer img {
	width: 100%;
	height: 30vh;
}
